:root {
    margin: 0;
    padding: 0;
    --WECOblue: #0081c3;
    --textColor: #222222;
    font-family: 'Exo 2';
}

a {
    color: var(--textColor);
    text-decoration: none;
}

a:hover {
    color: var(--textColor);
}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    z-index: 999;
}

/* header styling start */
#header {
    color: var(--textColor);
    background-color: var(--WECOblue);
}
/* header styling end */