:root {
    margin: 0;
    padding: 0;
    --WECOblue: #0081c3;
    --textDark: #222222;
    --backgroundDark: #111111;
    --textLight: #cfcfcf;
    --backgroundLight: #c1c1c1;
    font-family: 'Exo 2';
}

/* * {
    border: 1px solid #00000020;
} */

a {
    color: var(--textDark);
    text-decoration: none;
}

a:hover {
    color: var(--textDark);
}

.sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    z-index: 999;
}

section {
    margin: 1px;
    border: 1px solid black;
}

.specialty-card {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

/* header styling start */
#header {
    color: var(--textDark);
    background-color: var(--WECOblue);
}
/* header styling end */

/* hero styling start */
#hero {
    color: var(--textLight);
    height: 30rem;
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--textDark)
}

#hero-container {
    border-radius: 4px;
    background-color: var(--WECOblue);
}
/* hero styling end */